body{
    background-color: #d0dee2;
}
.topnav {
    overflow: hidden;  /*!por solicitud de punto 4*/
}
/* Diseña los enlaces dentro de la barra de navegación */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Cambiar el color de los enlaces al pasar el mouse */
.topnav a:hover {
    background-color: #5a50e7;
    color: black;
}

/* Cambiar el color de los enlaces al pasar el mouse */
.topnav a.active {
    background-color: #5a50e7;
    color: white;
}
.fixed{   
    position: fixed;
    top: 150px;
    right: 20px;
    background-color:violet;
    padding: 20px;
}
.uno img{
    outline: dashed; /*! por solicitud de punto 4*/
    width: 150px;
    height: 150px;
}
.container_uno{
    display: grid;
    grid-template-columns: 300px ;
    gap: 150px;
    max-width: 1200px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    }
    .btn {               /*para que el boton se ilumine*/
        color:white;     /*falta agregar margen para que el boton baje in poco*/
        text-decoration: none;
        width: 12vw;
        font-size: 22px;
        font-family: sans-serif;
        text-align: center;
        padding: .5vw 1vw;
        transition: all  0.6s ease;
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,0.8827906162464986) 8%, rgba(252,70,107,0.7203256302521008) 100%);
        border-radius: 15px;
    }
    .btn:hover {
        box-shadow: 0 0 10px #ff0080, 0 0  30px #ff0080, 0 0 70px #ff0080;
        background-color: #ff0080;
    }
.contenido{
    font-size:22px ;
    font-style: italic;
    text-align: center;
    text-decoration: overlines;
}
.footer{
    font-size:20px ;
    font-style: normal;;
    text-align:center;
    color: rgb(65, 202, 226);
}
/*Vista tablet*/
@media(min-width:620px){
    .container_uno{
        display: grid;
        grid-template-columns: 300px 300px;
        gap: 150px;
        max-width: 1200px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
    
    }
}


@media(min-width:1080px){
    .container_uno{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        gap: 150px;
        max-width: 1200px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
    
    }
}
@media(min-width:1350px){
    .container_uno{
        display: grid;
        grid-template-columns: 300px 300px 300px 300px  ;
        gap: 150px;
        max-width: 1200px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
    
    }
}